.menu-container {
  position: relative;
}

.menu {
  background: lightgray;
  border-radius: 3px;
  position: absolute;
  top: 35px;
  width: 115px;
  left: 1px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  z-index: 1;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 150px;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li button {
  text-decoration: none;
  color: #333333;
  padding: 10px 10px;
  display: block;
  width: 100%;
  border: 0;
  background-color: whitesmoke;
}



.menu-trigger {
  background: #0f4c81;
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  width: 115px;
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}